<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<connectionStrings>
    <add name="Conexion" connectionString="server=localhost;user id=root;password=mysql;persist security info=True;database=bdHotelCaminosDelInca" providerName="MySql.Data.MySqlClient" />
    <!--<add name="Conexion" connectionString="server=(local);database=bdHotelCaminosDelInca;Integrated Security=true" providerName="System.Data.SqlClient"/>-->
  </connectionStrings>

	<system.web>
		<pages enableViewStateMac="false"/>
		<globalization requestEncoding="utf-8" responseEncoding="utf-8"/>
		<!--Carga de archivos en ASP.NET 2.0 Permite Agrandas la cantidad de descarga-->
		<!--maxRequestLength=Kilobytes 512000kb=500Mb-->
		<httpRuntime requestValidationMode="2.0" executionTimeout="9000" maxRequestLength="512000" requestLengthDiskThreshold="512000" useFullyQualifiedRedirectUrl="true"/>
		<!-- ************** -->
		<!--Aumenta el termino de duracion de las Sesiones-->
		<!--mode="InProc"-->
		<!--La propiedad Timeout no se puede establecer en un valor mayor que 525600 minutos (1 año).-->
		<sessionState mode="InProc" cookieless="false" timeout="480">
		</sessionState>
		<compilation debug="true" targetFramework="4.0">
	</compilation>
		<authentication mode="Forms">
			<forms loginUrl="default.aspx" timeout="2880"/>
		</authentication>
		<membership>
			<providers>
				<clear/>
				<add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/"/>
			</providers>
		</membership>
		<profile>
			<providers>
				<clear/>
				<add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/"/>
			</providers>
		</profile>
		<roleManager enabled="false">
			<providers>
				<clear/>
				<add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/"/>
				<add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/"/>
			</providers>
		</roleManager>
	</system.web>
	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true"/>
	</system.webServer>
</configuration>
